<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Reddened 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131026

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Myopathy Online</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Myopathy Online</a></h1>
				<p>A semantic search site</p>
			</div>
			<div id="social" style="display:none">
				<ul class="contact">
					<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="icon icon-facebook"><span></span></a></li>
					<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
					<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
				</ul>
			</div>
		</div>
		<div id="menu" class="container">
			<ul>
{% set navigation_bar = [
    ('/', 'homepage', 'Homepage'),
    ('/proteins', 'proteins', 'Proteins'),
    ('/articles', 'articles', 'Articles')
] -%}
{% for href, id, caption in navigation_bar %}
  <li{% if id == active_page %} class="current_page_item"{% endif%}>
    <a href="{{ href|e }}">{{ caption|e }}</a>
  </li>
{% endfor %}
			</ul>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
			<div class="post">
<h2>{% block title %}Myopathy Online{% endblock %}</h2>
				<p><img src="/static/images/img03.jpg" alt="" class="image image-full" /></p>
{% block body %}{% endblock %}
			</div>
			<div class="post" style="display:none">
				<div class="post-title">
					<h2>Mauris vulputate dolor</h2>
					<span>Donec pulvinar ullamcorper metus</span>
				</div>
				<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc. Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. </p>
			</div>
		</div>
		<div id="sidebar1">
            <div>
                Search<br />
                <input type="text" />
            </div>
			<div class="ontology">
				<h2>Ontology</h2>
				<ul class="style2">
					<li>
                        <a href="#">Drugs</a>
                        <ul>
                            <li>Dutasteride</li>
                            <li>Eplerenone</li>
                            <li>Gamma Globulin</li>
                            <li>Gentamicin</li>
                            <li>ManNAc</li>
                            <li>Methimazole</li>
                            <li>Placebo</li>
                            <li>Rituximab</li>
                        </ul>
					</li>
					<li>
                        <a href="#">Genomes</a>
					</li>
					<li>
                        <a href="#">Journals</a>
					</li>
					<li>
                        <a href="#">Myopathy</a>
                        <ul>
                            <li>Acquired</li>
                                <ul>
                                    <li>Common Muscle Cramps & Stiffness</li>
                                    <li>Tetany</li>
                                </ul>
                            <li>Inherited</li>
                                <ul>
                                    <li>Congenital Myopathies</li>
                                    <li>Dermatomyosities</li>
                                    <li>familialPeriodicParalysis</li>
                                    <li>glycogenStorageDiseasesOfMuscle</li>
                                    <li>mitochondrialMyopathies</li>
                                    <li>muscularDystrophies</li>
                                    <li>myoglobinurias</li>
                                    <li>myositisOssificans</li>
                                    <li>polymyositis&amp;inclusionBodyMyositis&amp;relatedMyopathies</li>
                                </ul>
                        </ul>
					</li>
					<li>
                        <a href="#">Proteins</a>
					</li>
					<li>
                        <a href="#">Side Effects</a>
					</li>
				</ul>
				<a href="#" class="button">Read More</a> </div>
		</div>
	</div>
	<div id="portfolio-wrapper"  style="display:none">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>Aenean elementum</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
			<div class="column1">
				<div class="box">
					<h3>Vestibulum venenatis</h3>
					<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
					<a href="#" class="button">Etiam posuere</a> </div>
			</div>
			<div class="column2">
				<div class="box">
					<h3>Praesent scelerisque</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
					<a href="#" class="button">Etiam posuere</a> </div>
			</div>
			<div class="column3">
				<div class="box">
					<h3>Donec dictum metus</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
					<a href="#" class="button">Etiam posuere</a> </div>
			</div>
			<div class="column4">
				<div class="box">
					<h3>Mauris vulputate dolor</h3>
					<p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
					<a href="#" class="button">Etiam posuere</a> </div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright (c) 2013 myopathy-online. All rights reserved. Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>. Code by <a href="http://benfulton.net">Ben Fulton</a></p>
</div>
<script type="text/javascript">
    $( document ).ready(function(){
       $(".ontology a").click(function(){
            $(this).parent().children().toggle();
            $(this).toggle();
            return false;
       });
    });
</script>
</body>
</html>
