{% extends "base.html" %}
{% set active_page = "disease" %}

{% block title %}{{ mnemonic }}{% endblock %}

{% block body %}
<h3>Causes</h3>
    <p>Genes that are known to be related to this disease</p>
    <ul>
{% for item in results %}
    {% if "becauseOf" in item[0]  %}
       <li><a href="/gene/{{item[1].split('#')[1]}}">{{item[1].split('#')[1]}}</a></li>
    {% endif %}
{% endfor %}
    </ul>
<h3>Treatments</h3>
    <p>Drugs that may be used in the treatment of this disease</p>
    <ul>
{% for item in results %}
    {% if "isTreatedBy" in item[0]  %}
       <li><a href="/drug/{{item[1].split('#')[1]}}">{{item[1].split('#')[1]}}</a></li>
    {% endif %}
{% endfor %}
    </ul>
{% endblock %}

